@media (max-width: 575.98px) {
    #myNav {
        padding: 15px 30px;
    }

    #brand {
        margin: 0px;
    }

    .row {
        margin: 0px;
    }

    .container-fluid {
        padding: 40px 20px;
    }

    #skills {
        height: auto !important;
    }

    .col {
        margin: 10px 0px;
    }

    #last {
        margin-bottom: 0px;
    }

    #last-3 {
        margin-top: 0px;
    }

    #contact-img {
        margin-top: 20px;
        margin-bottom: 0px;
    }

}

@media (max-width: 767.98px) {
    #myNav {
        padding: 15px 30px;
    }

    .row {
        margin: 20px;
    }

    .container-fluid {
        padding: 40px 20px;
    }

    .col {
        margin-bottom: 10px;
    }

    #last {
        margin: 0px;
    }

    #skills {
        height: auto !important;
    }

    #me {
        height: auto !important;
    }

    #design {
        height: auto !important;
    }

    #about {
        height: auto !important;
    }

}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) { 
}