.navbar {
    padding: 20px 50px;
    font-family: 'Inter', sans-serif;
    background-color: #cbe6ff00;
}

.nav-item {
    margin: 0px 15px;
}

.navbar-toggler {
    border: none;
}

a:hover {
    text-decoration: none;
}

.navbar-brand {
    margin: 0px 15px;
    color: #3F3D56 !important;
}

.rectangle {
    width: 100%;
    height: 250px;
    background: linear-gradient(90deg, #B5E6A6 0%, #C4D790 100%);
}

.header-img {
    width: 90px;
    height: auto;
    margin-bottom: 20px;
}

.header-title {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
}

.paragraph {
    padding: 80px 60px;
}

.side-img {
    padding: 80px 60px;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin-bottom: 20px;
}

.section-content {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

#objectives {
    padding: 100px;
}

.tag {
    background: #c4edaf;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 6px 15px;
    border: none;
    margin: 6px 12px 10px 0px;
}

.special {
    color: #4B4B4B;
    margin-bottom: 0px;
    font-weight: 600;
}

.member {
    width: 90px;
    height: auto;
    margin: 40px 50px 30px;
    border-radius: 50%;
}

.member-name {
    font-family: 'Nunito', 'sans-serif';
    font-weight: 600;
    margin-bottom: 0;
}

.member-role {
    font-family: 'Nunito', 'sans-serif';
    margin-bottom: 0;
}