@media (max-width:767px) {
    #intro {
        font-size: 20px;
        padding:15px;
    }

    #intro2 {
        font-size: 12px;
        padding-left: 30px;
        padding-right:30px;
    }

    #main {
        max-width: 80%;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #intro {
        margin-top:150px;
        font-size:25px;
        max-width:350px;
    }

    #intro2 {
        font-size:15px;
        max-width:250px;
    }

    #main {
        margin-top:-140px;
    }

}

@media (min-width:1024px) {
    #intro {
        margin-top:180px;
        max-width:500px;
        font-size:30px;
    }

    #intro2 {
        max-width:300px;
        font-size:20px;
    }

    #main {
        margin-top:-180px;
    }
}