@media (max-width: 767px) {
    h1 {
        padding:5px;
        margin-top:10px;
        text-align:center;
    }

    #profile {
        border-radius:50%;
        padding:20px;
    }

    p {
        padding:5px;
        font-size:15px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        margin-top:130px;
        font-size:25px;
        margin-left:20px;
    }

    #profile {
        border-radius:50%;
        max-width:80%;
        margin-top:-70px;
        margin-right:20px;
    }

    p {
        font-size:12px;
        margin-left:20px;
    }
}

@media (min-width:1024px) {
    h1 {
        margin-top:180px;
        margin-left:20px;
    }

    #profile {
        border-radius:50%;
        max-width:80%;
        margin-top:-130px;
        margin-right:10px;
    }

    .about-me {
        font-size:15px;
        margin-left:20px;
        max-width:500px;
    }

}